{% extends 'base.html.twig' %}

{% block body %}
    <div class="form" style="display: flex; justify-content: center">
        <form id="login" class="vertical" action="" method="post">
            <div class="form_title">
                <h3>
                    OAuth Authorization
                </h3>
            </div>
            {% if(error) %}
                <div class='form_error'>{{ error }}</div>
            {% endif %}
            <div class="form_item">
                <label for="username">Username</label>
                <input type="text" id="username" name="_username"/>
            </div>
            <div class="form_item">
                <label for="password">Password</label>
                <input type="password" id="password" name="_password"/>
            </div>
            <div class="form_button">
                <button>Log In</button>
            </div>
        </form>
    </div>
{% endblock %}