<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {#<link href="http://yegor256.github.io/tacit/tacit.min.css" rel="stylesheet" type="text/css"/>#}
            {#<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">#}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/barecss@1.1.1/css/bare.min.css" type="text/css">
            <style>
                label {
                    min-width: 20rem;
                    display: block;
                }

                input, button {
                    min-width: 20rem;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
