{% extends 'base.html.twig' %}
{% block body %}
    <h1>Test API</h1>
    <p>
        <a href="{{ path('logout') }}">logout</a>
    </p>
    <div style="display: flex">
        <form action="{{ path('fos_oauth_server_token') }}" id="form" style="padding: 2rem">
            <h3>Get Token</h3>
            <div>
                <label for="email">Email</label><input name="email" type="text" placeholder="email" id="email"/>
            </div>
            <div>
                <label for="password">Password</label><input name="password" type="password" placeholder="password" id="password"/>
            </div>
            <div>
                <button>Get Token</button>
            </div>
            <div>
                <span id="token"></span>
            </div>
        </form>
        <form id="register_form" action="{{ path('post_users') }}" style="padding: 2rem">
            <h3>Register</h3>
            <div>
                <label for="register_name">Name</label><input type="text" name="register_name" id="register_name">
            </div>
            <div>
                <label for="register_email">Email</label><input type="email" name="register_email" id="register_email">
            </div>
            <div>
                <label for="register_password">Password</label><input type="text" name="register_password" id="register_password">
            </div>
            <div>
                <button>Register</button>
            </div>
            <div>
                <span id="user_id"></span>
            </div>
        </form>
        <form class="need-token" id="post_form" data-action="{{ path('post_posts') }}" style="padding: 2rem">
            <h3>Create Post</h3>
            <div style="display:flex;">
                <div>
                    <div>
                        <label for="post_text">Text</label><textarea name="post_text" id="post_text"></textarea>
                    </div>
                    <div>
                        <label for="post_password">Img</label><input type="file" name="post_img" id="post_img">
                    </div>
                    <div>
                        <button>Create Post</button>
                    </div>
                    <div>
                        <span id="current_painting_id">0</span>
                    </div>
                </div>
                <div>
                    <img src="http://via.placeholder.com/350x150" alt="post image" id="post_img_preview">
                </div>
            </div>
        </form>
    </div>

    <section>
        <h3>Get Resources</h3>
        <div style="display: flex">
            <ul>
                <li>
                    <a class="resource-link" id="author_resources" href="{{ path('cget_authors') }}" target="_blank">Get Authors</a>
                <li>
                    <a class="resource-link" id="institution_resources" href="{{ path('cget_institutions') }}" target="_blank">Get Institutions</a>
                <li>
                    <a class="resource-link" id="painting_resources" href="{{ path('cget_paintings') }}" target="_blank">Get Paintings</a>
                <li>
                    <a class="resource-link" id="tag_resources" href="{{ path('cget_tags') }}" target="_blank">Get Tags</a>
                <li>
                    <a class="resource-link" id="post_resources" href="{{ path('cget_posts') }}" target="_blank">Get Posts</a>
                <li>
                    <a class="resource-link need-token" id="current_user_resource" data-href="{{ path('get_users_current') }}" href="{{ path('get_users_current') }}" target="_blank">Get Current User</a>
            </ul>
        </div>
        <button type="button" btn class="resource-link">Clean</button>
    </section>
    <section>
        <table id="results">

        </table>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        function params(pass, name) {
            const clientId = "6_4h2q66dz1ksgoocwk4ksgk0wksww4sc4w0wgoss4s8ko44cw4o";
            const clientSecret = "4rpyq7txeveo88ssw0cgwow4884k0g8oko4gkgogcs4g84kssk";
            return "?grant_type=password&client_id=" + clientId + "&client_secret=" + clientSecret + "&password=" + pass + "&username=" + name;
        }

        ready(function () {
            let token = "";
            let result = document.getElementById("results");
            let currentPaintingId = 0;
            const authorsUrl = "{{ path('cget_authors') }}";
            const institutionsUrl = "{{ path('cget_institutions') }}";
            const tagsUrl = "{{ path('cget_tags') }}";
            const paitningsUrl = "{{ path('cget_paintings') }}";
            const usersUrl = "{{ path('cget_users') }}";

            ajaxForm("form", function (f) {
                getJSON('GET', f.action + params(document.getElementById("password").value, document.getElementById("email").value), null, function (r) {
                    token = r["access_token"];
                    document.getElementById("token").innerText = token;
                    updateHrefs(token);
                });
            });
            ajaxForm("register_form", function (f) {
                const data = {
                    "username": document.getElementById("register_name").value,
                    "password": document.getElementById("register_password").value,
                    "email": document.getElementById("register_email").value
                };
                req('POST', f.action, JSON.stringify(data), function (r) {
                    document.getElementById("user_id").innerText = r.responseText;
                });
            });
            ajaxForm("post_form", function (f) {
                readFile(document.getElementById("post_img"), function (result) {
                    const data = {
                        "text": document.getElementById("post_text").value,
                        "paintingId": currentPaintingId
                    };
                    if (result) {
                        data.img = result;
                    }
                    document.getElementById("post_img_preview").src = result;
                    req('POST', f.action, JSON.stringify(data), function (r) {
                        console.log("======== Post created!")
                    });
                });
            });

            function updateHrefs(token) {
                const hrefs = document.getElementsByClassName("need-token");
                for (let h of hrefs) {
                    if (h.hasAttribute("data-href")) {
                        h.href = h.getAttribute("data-href") + "?access_token=" + token;
                    } else if (h.hasAttribute("data-action")) {
                        h.action = h.getAttribute("data-action") + "?access_token=" + token;
                    }
                }
            }

            let currentPaintingIdText = document.getElementById("current_painting_id");
            for (let h of document.getElementsByClassName("resource-link")) {
                h.addEventListener('click', function (e) {
                    e.preventDefault();
                    result.innerHTML = "";
                    if (!e.target.href) return;
                    getJSON('GET', e.target.href, null, function (r) {
                        switch (e.target.id) {
                            case "author_resources":
                                row(`<th>Author Name</th><th>ID</th><th>Paintings</th>`);
                                for (let o of r) row(`<td>${o.name}</td><td>${o.id}</td><td><a  class="sub-resources-link" target="_blank" href="${authorsUrl}/${o.id}/paintings">${authorsUrl}/${o.id}/paintings</a></td>`);
                                break;
                            case "institution_resources":
                                row(`<th>Institution Name</th><th>ID</th><th>Paintings</th>`);
                                for (let o of r) row(`<td>${o.name}</td><td>${o.id}</td><td><a  class="sub-resources-link" target="_blank" href="${institutionsUrl}/${o.id}/paintings">${institutionsUrl}/${o.id}/paintings</a></td>`);
                                break;
                            case "painting_resources":
                                row(`<th>Painting Name</th><th>ID</th><th>Author Name</th><th>Author ID</th><th>Posts</th> <th>Add Post</th><th>Imge</th>`);
                                for (let o of r) row(`<td>${o.name}</td><td>${o.id}</td><td>${o.authorName}</td><td>${o.authorId}</td>
<td><a class="painting-posts-resources-link sub-resources-link" target="_blank" href="${paitningsUrl}/${o.id}/posts">${paitningsUrl}/${o.id}/posts</a></td>
<td><a class="painting-add-post" href="#post_form" data-painting-id="${o.id}">Add post</a></td><td><img src="${o.img}"></td>`);
                                for (let a of document.getElementsByClassName('painting-add-post')) {
                                    a.addEventListener('click', function (e) {
                                        currentPaintingIdText.innerText = currentPaintingId = a.getAttribute('data-painting-id');
                                    });
                                }
                                break;
                            case "tag_resources":
                                row(`<th>Tag Name</th><th>ID</th><th>Paintings</th>`);
                                for (let o of r) row(`<td>${o.name}</td><td>${o.id}</td><td><a  class="sub-resources-link" target="_blank" href="${tagsUrl}/${o.id}/paintings">${tagsUrl}/${o.id}/paintings</a></td>`);
                                break;
                            case "current_user_resource":
                                row(`<th>UserName</th><th>ID</th><th>Email</th><th>Posts</th>`);
                                for (let o of r) row(`<td>${o.name}</td><td>${o.id}</td><td><a  class="sub-resources-link" target="_blank" href="${usersUrl}/${o.id}/posts">${usersUrl}/${o.id}/posts</a></td>`);
                                break;
                            case "post_resources":
                                row(`             <th>Post Username</th>  <th>Created</th>       <th>ID</th>        <th>Image</th>`);
                                for (let o of r) row(`<td>${o.userName}</td>      <td>${o.created}</td>  <td>${o.id}</td>   <td><img src="${o.tn}"></td>`);
                                break;
                        }
                    })
                })
            }

            function row(str) {
                const tr = document.createElement("tr");
                tr.innerHTML = str;
                result.appendChild(tr);
            }
        });

        /// ------------------------------------------------------------------------------------
        function ajaxForm(formId, cb) {
            let f = document.getElementById(formId);
            f.addEventListener("submit", function (e) {
                e.preventDefault();
                cb(f);
            })
        }

        function readFile(fileInp, cb) {
            if (fileInp['files'] && fileInp['files'][0]) {
                const FR = new FileReader();
                FR.addEventListener("load", function (e) {
                    console.log(" ======== Read file ======== ");
                    console.log(e.target.result);
                    console.log(" ======== ========= ======== ");
                    cb(e.target.result);
                });
                FR.readAsDataURL(fileInp['files'][0]);
                return;
            }
            cb(null);
            console.log("no files in the input");
        }

        function getJSON(method, url, data, cb) {
            req(method, url, data, function (r) {
                cb(JSON.parse(r.responseText));
            })
        }

        function req(method, url, data, cb) {
            const r = new XMLHttpRequest();
            r.open(method, url, true);
            r.onload = function () {
                if (r.status >= 200 && r.status < 400) {
                    // console.log("success:" + r.responseText);
                    if (typeof cb === 'function') cb(r);
                } else {
                    console.log("error:" + r.responseText);
                }
            };
            if (data) r.send(data);
            else r.send();
        }

        function ready(fn) {
            if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading") fn();
            else document.addEventListener('DOMContentLoaded', fn);
        }
    </script>
{% endblock %}


